<div class="custom-static-testimonial-container">
  	<div class="cst-date">01/13/2022</div>
	<div class="cst-reviews-rating">
          <i class="stamped-fa stamped-fa-star"></i>
          <i class="stamped-fa stamped-fa-star"></i>
          <i class="stamped-fa stamped-fa-star"></i>
          <i class="stamped-fa stamped-fa-star"></i>
          <i class="stamped-fa stamped-fa-star"></i>
    </div>
  	<div class="cst-message">
	 	Love my ting! The Blues	are beautifull and make me happy when I look at them
	</div>
  <div class="cst-authoer">-Lauren L</div>
</div>
 
<style> 
.custom-static-testimonial-container {
    text-align: center;
      max-width: 700px;
    margin: auto;
}
  
  
  .cst-message {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 21px;
    line-height: 42px;
}
  
      @media screen and (min-width: 920px){
          .cst-message {
              font-size: 43px;
              padding: 0 48px;
          }
      }
  
      @media screen and (min-width: 620px) and (max-width: 920px){
          .cst-message {
              font-size: 35px;
              padding: 0 48px;
          }
        .cst-message {
            text-transform: uppercase;
            font-weight: 500;
            line-height: 35px;
        }
      }
  
     @media screen and (max-width: 620px){
             .cst-message {
              font-size: 20px;
              padding: 0 48px;
          }
        .cst-message {
            text-transform: uppercase;
            font-weight: 500;
            line-height: 27px;
        }
      }
  
</style>

{% schema %}
  {
    "name": "Custom Static Testimonial",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "presets": [
      {
        "name": "Custom Static Testimonial",
        "category": "Hura",
        "settings": {

        }
      }
    ]
  }
{% endschema %}