<div class="custom-mobile-separator"></div>
 
<style> 

</style>

{% schema %}
  {
    "name": "Custom Mobile Separator",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "presets": [
      {
        "name": "Custom Moile Separator",
        "category": "Hura",
        "settings": {

        }
      }
    ]
  }
{% endschema %}

