<div class="aos-init aos-animate custom-log-page-with" data-aos="logo__animation">
   <div class="logo-bar custom-logo-bar">
<!--       <div class="logo-bar__item"><img class="logo-bar__image lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720]" data-aspectratio="1.0" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0471/1232/3231/files/image2_1_180x.png?v=1643866135 180w, //cdn.shopify.com/s/files/1/0471/1232/3231/files/image2_1_360x.png?v=1643866135 360w, //cdn.shopify.com/s/files/1/0471/1232/3231/files/image2_1_540x.png?v=1643866135 540w, //cdn.shopify.com/s/files/1/0471/1232/3231/files/image2_1_720x.png?v=1643866135 720w" sizes="110px" srcset="//cdn.shopify.com/s/files/1/0471/1232/3231/files/image2_1_180x.png?v=1643866135  180w,//cdn.shopify.com/s/files/1/0471/1232/3231/files/image2_1_360x.png?v=1643866135  360w,//cdn.shopify.com/s/files/1/0471/1232/3231/files/image2_1_540x.png?v=1643866135  540w,//cdn.shopify.com/s/files/1/0471/1232/3231/files/image2_1_720x.png?v=1643866135  720w"></div>
      <div class="logo-bar__item"><img class="logo-bar__image lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720]" data-aspectratio="1.0" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0471/1232/3231/files/image3_1_180x.png?v=1643866130 180w, //cdn.shopify.com/s/files/1/0471/1232/3231/files/image3_1_360x.png?v=1643866130 360w, //cdn.shopify.com/s/files/1/0471/1232/3231/files/image3_1_540x.png?v=1643866130 540w, //cdn.shopify.com/s/files/1/0471/1232/3231/files/image3_1_720x.png?v=1643866130 720w" sizes="110px" srcset="//cdn.shopify.com/s/files/1/0471/1232/3231/files/image3_1_180x.png?v=1643866130  180w,//cdn.shopify.com/s/files/1/0471/1232/3231/files/image3_1_360x.png?v=1643866130  360w,//cdn.shopify.com/s/files/1/0471/1232/3231/files/image3_1_540x.png?v=1643866130  540w,//cdn.shopify.com/s/files/1/0471/1232/3231/files/image3_1_720x.png?v=1643866130  720w"></div>
      <div class="logo-bar__item"><img class="logo-bar__image lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720]" data-aspectratio="1.0" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0471/1232/3231/files/image1_1_180x.png?v=1643866126 180w, //cdn.shopify.com/s/files/1/0471/1232/3231/files/image1_1_360x.png?v=1643866126 360w, //cdn.shopify.com/s/files/1/0471/1232/3231/files/image1_1_540x.png?v=1643866126 540w, //cdn.shopify.com/s/files/1/0471/1232/3231/files/image1_1_720x.png?v=1643866126 720w" sizes="110px" srcset="//cdn.shopify.com/s/files/1/0471/1232/3231/files/image1_1_180x.png?v=1643866126  180w,//cdn.shopify.com/s/files/1/0471/1232/3231/files/image1_1_360x.png?v=1643866126  360w,//cdn.shopify.com/s/files/1/0471/1232/3231/files/image1_1_540x.png?v=1643866126  540w,//cdn.shopify.com/s/files/1/0471/1232/3231/files/image1_1_720x.png?v=1643866126  720w"></div>
      <div class="logo-bar__item"><img class="logo-bar__image lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720]" data-aspectratio="1.0" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0471/1232/3231/files/image0_1_180x.png?v=1643866122 180w, //cdn.shopify.com/s/files/1/0471/1232/3231/files/image0_1_360x.png?v=1643866122 360w, //cdn.shopify.com/s/files/1/0471/1232/3231/files/image0_1_540x.png?v=1643866122 540w, //cdn.shopify.com/s/files/1/0471/1232/3231/files/image0_1_720x.png?v=1643866122 720w" sizes="110px" srcset="//cdn.shopify.com/s/files/1/0471/1232/3231/files/image0_1_180x.png?v=1643866122  180w,//cdn.shopify.com/s/files/1/0471/1232/3231/files/image0_1_360x.png?v=1643866122  360w,//cdn.shopify.com/s/files/1/0471/1232/3231/files/image0_1_540x.png?v=1643866122  540w,//cdn.shopify.com/s/files/1/0471/1232/3231/files/image0_1_720x.png?v=1643866122  720w"></div>
 -->

  <div class="logo-bar__item">

  <img class="lazyloaded"  src="https://cdn.shopify.com/s/files/1/0471/1232/3231/files/logo_1_1800_180x.png?v=1644387577">

  </div>
  <div class="logo-bar__item">

  <img class="lazyloaded"  src="https://cdn.shopify.com/s/files/1/0471/1232/3231/files/logo_2_1800_180x.png?v=1644387577">


  </div>
  <div class="logo-bar__item">

  <img class="lazyloaded"  src="https://cdn.shopify.com/s/files/1/0471/1232/3231/files/logo_3_1800_180x.png?v=1644387577">


  </div>

  <div class="logo-bar__item">

  <img class="lazyloaded"  src="https://cdn.shopify.com/s/files/1/0471/1232/3231/files/logo_4_1800_180x.png?v=1644387577">

  </div>
     
   
</div>
</div>

<style> 
@media all {
	*,
	:after,
	:before {
		box-sizing: border-box;
	}
	html:not(.no-js):not(.tab-outline) :focus {
		outline: none;
	}
  
  .custom-logo-bar {
        margin-top: 10px;
    	margin-bottom: 10px;
  }
  
  @media (max-width:620px)  {
    
      .custom-logo-bar {
            margin-top: 20px;
            margin-bottom: 20px;
      }
  }
  
  
	.page-width {
		max-width: 1500px;
		margin: 0 auto;
	}
	.page-width {
		padding: 0 17px;
	}
	@media only screen and (min-width:769px) {
		.page-width {
			padding: 0 40px;
		}
	}
  
  	@media only screen and (max-width:560px) {

      .custom-logo-bar>.logo-bar__item {
          flex: 0 1 25%;
          vertical-align: middle;
          margin: 0;
      }
      
      
    }
  
  @media only screen and (min-width: 561px)
    .custom-logo-bar>.logo-bar__item {
        flex: 0 1 160px;
        margin: 0 5px 30px;
    }
  }

  
	img {
		border: 0 none;
	}
	img {
		max-width: 100%;
	}
	img[data-sizes=auto] {
		display: block;
		width: 100%;
	}
	.lazyloaded {
		opacity: 1;
		transition: opacity .4s ease;
	}
	::-webkit-input-placeholder {
		color: inherit;
		opacity: .5;
	}
	:-moz-placeholder {
		color: inherit;
		opacity: .5;
	}
	:-ms-input-placeholder {
		color: inherit;
		opacity: .5;
	}
	::-ms-input-placeholder {
		color: inherit;
		opacity: 1;
	}
	.logo-bar {
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
/* 	.custom-logo-bar>.logo-bar__item {
		flex: 0 1 110px;
		vertical-align: middle;
		margin: 0 15px 20px;
	} */
	@media only screen and (min-width:769px) {
		.custom-logo-bar>.logo-bar__item {
			flex: 0 1 200px;
			margin: 0;
		}
	}
    @media only screen and (min-width:1200px) {
          .custom-logo-bar>.logo-bar__item {
              flex: 0 1 250px;
              margin: 0 10px;
          }
      }
	.logo-bar__image {
		display: block;
		margin: 0 auto;
	}
	[data-aos=logo__animation] .logo-bar__item {
		opacity: 0;
	}
	[data-aos=logo__animation].aos-animate .logo-bar__item {
		animation: fade-in .5s ease 0s forwards;
	}
	[data-aos=logo__animation].aos-animate .logo-bar__item:nth-child(2) {
		animation-delay: .2s;
	}
	[data-aos=logo__animation].aos-animate .logo-bar__item:nth-child(3) {
		animation-delay: .4s;
	}
	[data-aos=logo__animation].aos-animate .logo-bar__item:nth-child(4) {
		animation-delay: .6s;
	}
	.logo-bar--template--15612524134622__164386551818fccd84 {
		opacity: 1;
		margin-top: 35px;
	}
}


/*! CSS Used from: Embedded */

.logo-bar--template--15612524134622__164386551818fccd84 {
	opacity: 1.0;
}


/*! CSS Used from: Embedded */

@media all {
	::after,
	::before {
		-webkit-box-sizing: inherit;
		box-sizing: inherit;
	}
	* {
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		font-family: "Grold Rounded", sans-serif;
	}
}


/*! CSS Used keyframes */

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
</style>

{% schema %}
  {
    "name": "Custom Logos",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "presets": [
      {
        "name": "Custom Logos",
        "category": "Hura",
        "settings": {

        }
      }
    ]
  }
{% endschema %}