<div class='custom-testimonial-container'>
<div id="stamped-reviews-widget" data-widget-type="carousel" data-auto-play="true" data-auto-play-speed="3000" data-style-color-title="#000000" data-style-color-star="#000000" data-style-color-text="#000000" data-limit-words="20" data-with-photos="? string:#000000 ?"></div>

</div>
<style> 
  

  .stamped-reviews-image {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
}
  
  .stamped-reviews-message {
    margin-left: 0px !important;
}
  
  .stamped-carousel-title.stamped-style-color-title {
    display: none;
}
  
  .block {
    width: 100% !important;
    text-align: center !important;
}
  
  .stamped-reviews-author.stamped-style-color-text {
    margin-left: 0px !important;
    text-align: center;
}
  
  .stamped-reviews-date {
    text-align: center !important;
    width: 100%;
    margin: 12px !important;
    padding: 0 !important;
}
  
  .stamped-reviews-rating.stamped-style-color-star {
    text-align: center !important;
    margin: auto !important;
    width: 96% !important;
}
  
  .stamped-reviews-rating.stamped-style-color-star {
    position: absolute;
	}
  
  .stamped-reviews-rating.stamped-style-color-star {
    margin-top: 28px !important;
}
  
  .stamped-reviews-title {
    padding-top: 25px !important;
}
  
  .stamped-reviews-message-block.stamped-style-color-text {
    text-transform: uppercase;
    font-style: normal !important;
    font-weight: 600;
    font-family: 'Grold Rounded', serif !important;
    font-size: 20px !important;
    line-height: 21px !important;
}
  
  .stamped-reviews-date {
    color: #000 !important;
    font-weight: 700 !important;
    font-size: 12px !important;
}
  
  @media screen and (max-width: 690px){
    #stamped-reviews-widget[data-widget-type=carousel] .stamped-carousel-scroll .stamped-reviews-message {
        margin-left: 0px!important;
        line-height: 16px!important;
        font-size: 14px;
    }
    #stamped-reviews-widget[data-widget-type=carousel] .stamped-carousel-scroll .stamped-reviews-author {
      margin-left: 0px!important;
  }
  }
  @media screen and (min-width: 768px){
  .custom-testimonial-container {
      margin: 0px 136px;
  }
  }
  
  .stamped-carousel-subtitle.stamped-style-color-star {
    display: none !important;
}
  
  .stamped-carousel-buttons {
    position: absolute;
    top: 120px;
        width: 100% !important;
        z-index: 10 !important;
}
  
  .stamped-carousel-button-right {
    right: -15px !important;
    position: absolute !important;
}
  
  .stamped-reviews-message-block.stamped-style-color-text {
    padding: 0 25px 0px 56px  !important;
}
  #stamped-reviews-widget[data-widget-type=carousel] .stamped-carousel-scroll:before {
    border-bottom: none !important;
  }
  
    @media screen and (min-width: 1020px){

  .stamped-reviews-message-block.stamped-style-color-text {
    padding: 0 150px !important;
}
      .stamped-reviews-rating.stamped-style-color-star {
    margin-top: 30px !important;
    margin-left: 10px !important;
}
      
      
    }
  
  
</style>

{% schema %}
  {
    "name": "Custom Testimonial",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "presets": [
      {
        "name": "Custom Testimonial",
        "category": "Hura",
        "settings": {

        }
      }
    ]
  }
{% endschema %}