<div class="page-width1 yx-mobile-banner-container yx-desktop-hidden">
 
 <a href="/collections/shopalltings" class="container-full1" style="display:block;position: relative;text-align: center;" >
   {% for block in section.blocks limit: 1 %}
	<img class="img-responsive lazyload"  data-src="{{ block.settings.yx_image_picker | img_url: '750x' }}" />
   {% endfor %}
   <div class="hero__link">
      <div class="btn custom-shop-all-btn">
       SHOP ALL
       </div>
     </div>
</a>
</div>

{% schema %}
  {
    "name": "Custom Mobile Banner",
	"class": "yx-mobile-banner-section",
"max_blocks": 1,
  
"blocks": [
    {
      "type": "image_picker",
      "name": "Mobile Banner Image",
      "settings": [
        {
          "label": "Mobile Banner Image",
          "id": "yx_image_picker",
          "type": "image_picker"
        }
      ]
    }

  ],

 "presets": [
    {
      "name": "Custom Mobile Banner",
      "category": "Home",
	  "blocks":[{"type" : "image_picker"}]
    }
]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}