<div id="adev-page-about">
   <div class="container">
      <div class="adev-page-about-inner">
         <div class="image-with-text-block" data-image-align-right="false">
            <div class="image-wtb-image">
               <img class=" lazyloaded" data-src="//cdn.shopify.com/s/files/1/0471/1232/3231/files/Our-Tings.jpg?v=1628062420" src="//cdn.shopify.com/s/files/1/0471/1232/3231/files/Our-Tings.jpg?v=1628062420">
               <noscript><img src="//cdn.shopify.com/s/files/1/0471/1232/3231/files/Our-Tings.jpg?v=1628062420"></noscript>
            </div>
            <div class="image-wtb-details">
               <h2></h2>
               <div class="image-wtb-details-inner">
                  <p>Every Ting has her thing. From Czech glass and Japanese miyuki seeds; to Swarovski crystal and up-cycled vintage beads, every String Ting owns their style. Each one is unique in the way they look but not in the quality of how they’re crafted: hand-tied and sealed - every String Ting is assembled on a hard-wearing satin cord.<br><br>Your String Ting is made by hand, she is tough, but please handle her with care. The bottom of your bag or in your dusty pocket ain’t no place for your Ting to be. She was born to shine, so wear her on your arm with pride. And, if she gets a little something-something on her, gently clean her with a small dab of washing up liquid on a toothbrush.<br><br>*Please note - String Tings are made of small pieces which could pose a choking hazard if they were to break. Do not let animals or children play with them or put them in their mouths. They are also sealed with a very strong glue which should also not be ingested.<br></p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<style> 
/*! CSS Used from: https://cdn.shopify.com/s/files/1/0471/1232/3231/t/20/assets/style.min.css?v=17410687267209098561 ; media=all */
@media all{
::after,::before{-webkit-box-sizing:inherit;box-sizing:inherit;}
*{margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box;font-family:"Grold Rounded", sans-serif;}
img{max-width:100%;height:auto;vertical-align:middle;border-style:none;-webkit-user-drag:none;-khtml-user-drag:none;-moz-user-drag:none;-o-user-drag:none;pointer-events:none;}
.container{width:100%;padding-right:20px;padding-left:20px;margin-right:auto;margin-left:auto;}
@media (min-width: 576px){
.container{max-width:540px;}
}
@media (min-width: 768px){
.container{max-width:720px;padding-right:15px;padding-left:15px;}
}
@media (min-width: 992px){
.container{max-width:960px;}
}
@media (min-width: 1200px){
.container{max-width:1140px;}
}
@media (min-width: 1430px){
.container{max-width:1400px;}
}
div#adev-page-about{padding:40px 0;}
div#adev-page-about .image-with-text-block{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:50px;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;}
div#adev-page-about .image-wtb-image{-webkit-box-flex:1;-ms-flex:1 1 50%;flex:1 1 50%;max-width:calc(50% - 40px);}
div#adev-page-about .image-wtb-details{-webkit-box-flex:1;-ms-flex:1 1 50%;flex:1 1 50%;max-width:calc(50% - 40px);}
div#adev-page-about .image-wtb-details h2{font-size:44px;line-height:1.5em;margin-bottom:25px;font-weight:400;}
div#adev-page-about .image-wtb-details-inner{line-height:1.7em;font-size:20px;font-weight:300;}
@media (max-width: 768px){
#adev-page-about .container{max-width:100%;padding:0;}
div#adev-page-about .image-with-text-block{display:block;}
div#adev-page-about .image-wtb-image{max-width:100%;}
div#adev-page-about .image-wtb-image img{width:100%;}
div#adev-page-about .image-wtb-details{max-width:100%;padding:30px;}
div#adev-page-about .image-wtb-details h2{font-size:32px;margin-bottom:15px;}
div#adev-page-about .image-wtb-details-inner{font-size:16px;}
div#adev-page-about .adev-page-about-inner .image-with-text-block:last-child{margin-bottom:0;}
}
@media (max-width: 768px){
div#adev-page-about{padding-top:0;}
}
}
</style>

{% schema %}
  {
    "name": "Custom Our Tings",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "presets": [
      {
        "name": "Custom Our Tings",
        "category": "Hura",
        "settings": {

        }
      }
    ]
  }
{% endschema %}