<div class="page-width1 yx-desktop-banner-container yx-mobile-hidden">
 
 <a href="/collections/shopalltings" class="container-full1" style="display: block;position: relative;text-align: center;">
     {% for block in section.blocks limit: 1 %}
      <img class="img-responsive lazyload"  data-src="{{ block.settings.yx_image_picker | img_url: '2000x' }}" />
     {% endfor %}

    <div class="hero__link">
      <div class="btn custom-shop-all-btn">
       SHOP ALL
       </div>
     </div>
  </div>
</a>

{% schema %}
  {
    "name": "Custom Desktop Banner",
	"class": "yx-desktop-banner-section",
"max_blocks": 1,
  
"blocks": [
    {
      "type": "image_picker",
      "name": "Desktop Banner Image",
      "settings": [
        {
          "label": "Desktop Banner Image",
          "id": "yx_image_picker",
          "type": "image_picker"
        }
      ]
    }

  ],

 "presets": [
    {
      "name": "Custom Desktop Banner",
      "category": "Home",
	  "blocks":[{"type" : "image_picker"}]
    }
]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}